<!DOCTYPE html>
<html lang="en">
  {{> head }}
  <body>
    <div class="main-content">
      {{> header }}

      <section class="about-section">
        <div class="container">
          <div class="profile">
            <img src="/img/saya.png" alt="Foto Pengembang" class="profile-img">
            <div class="profile-info">
              <h1 class="name">Andri Saputra</h1>
              <h2 class="role">Programmer</h2>
              <p class="bio">
                Halo semuanya, saya andri salah satu mahasiswa informatika di Universitas Negeri Padang. Saya memiliki ketrampilan di bidang
                AI dan Data. Motivasi masuk kesini karena cuma sering main game
              </p><br>
            </div>
          </div>

          <div class="info-cards">
            <div class="card">
              <h3>Keahlian</h3>
              <ul>
                <li>Python</li>
                <li>Data Engineer</li>
                <li>Machine Learning</li>
              </ul>
            </div>
            <div class="card">
              <h3>Kontak</h3>
              <ul>
                <li>Email: <a href="mailto:andri.saputra0865@gmail.com">andri.saputra0865@gmail.com</a></li>
                <li>GitHub: <a href="https://github.com/AndriSaputra1202">AndriSaputra1202</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
    {{> footer }}
  </body>
</html>
